.table {
	--bs-table-bg: transparent;
	--bs-table-accent-bg: transparent;
	--bs-table-striped-color: #a7a7a7;
	--bs-table-striped-bg: rgba(0, 0, 0, 0.05);
	--bs-table-active-color: #a7a7a7;
	--bs-table-active-bg: rgba(0, 0, 0, 0.1);
	--bs-table-hover-color: #a7a7a7;
	--bs-table-hover-bg: rgba(0, 0, 0, 0.075);
	width: 100%;
	margin-bottom: 1rem;
	
	vertical-align: top;
	border-color: #e5e5e5;
}

.table > :not(caption) > * > * {
	padding: 0.5rem 0.5rem;
	background-color: var(--bs-table-bg);
	border-bottom-width: 1px;
	box-shadow: inset 0 0 0 9999px var(--bs-table-accent-bg);
}

.table > tbody {
	vertical-align: inherit;
}

.table > thead {
	vertical-align: bottom;
}

.table > :not(:last-child) > :last-child > * {
	border-bottom-color: currentColor;
}

.caption-top {
	caption-side: top;
}

.table-sm > :not(caption) > * > * {
	padding: 0.25rem 0.25rem;
}

.table-bordered > :not(caption) > * {
	border-width: 1px 0;
}

.table-bordered > :not(caption) > * > * {
	border-width: 0 1px;
}

.table-borderless > :not(caption) > * > * {
	border-bottom-width: 0;
}

.table-striped > tbody > tr:nth-of-type(even) {
	--bs-table-accent-bg: var(--bs-table-striped-bg);
	color: var(--bs-table-striped-color);
}

.table-active {
	--bs-table-accent-bg: var(--bs-table-active-bg);
	color: var(--bs-table-active-color);
}

.table-hover > tbody > tr:hover {
	--bs-table-accent-bg: var(--bs-table-hover-bg);
	color: var(--bs-table-hover-color);
}

.table-primary {
	--bs-table-bg: #ffe4cc;
	--bs-table-striped-bg: #f2d9c2;
	--bs-table-striped-color: #000;
	--bs-table-active-bg: #e6cdb8;
	--bs-table-active-color: #000;
	--bs-table-hover-bg: #ecd3bd;
	--bs-table-hover-color: #000;
	color: #000;
	border-color: #e6cdb8;
}

.table-secondary {
	--bs-table-bg: #e1d7f2;
	--bs-table-striped-bg: #d6cce6;
	--bs-table-striped-color: #000;
	--bs-table-active-bg: #cbc2da;
	--bs-table-active-color: #000;
	--bs-table-hover-bg: #d0c7e0;
	--bs-table-hover-color: #000;
	color: #000;
	border-color: #cbc2da;
}

.table-success {
	--bs-table-bg: #d8f6e5;
	--bs-table-striped-bg: #cdeada;
	--bs-table-striped-color: #000;
	--bs-table-active-bg: #c2ddce;
	--bs-table-active-color: #000;
	--bs-table-hover-bg: #c8e4d4;
	--bs-table-hover-color: #000;
	color: #000;
	border-color: #c2ddce;
}

.table-info {
	--bs-table-bg: #ccf0ff;
	--bs-table-striped-bg: #c2e4f2;
	--bs-table-striped-color: #000;
	--bs-table-active-bg: #b8d8e6;
	--bs-table-active-color: #000;
	--bs-table-hover-bg: #bddeec;
	--bs-table-hover-color: #000;
	color: #000;
	border-color: #b8d8e6;
}

.table-warning {
	--bs-table-bg: #fceacf;
	--bs-table-striped-bg: #efdec5;
	--bs-table-striped-color: #000;
	--bs-table-active-bg: #e3d3ba;
	--bs-table-active-color: #000;
	--bs-table-hover-bg: #e9d8bf;
	--bs-table-hover-color: #000;
	color: #000;
	border-color: #e3d3ba;
}

.table-danger {
	--bs-table-bg: #ffd4d4;
	--bs-table-striped-bg: #f2c9c9;
	--bs-table-striped-color: #000;
	--bs-table-active-bg: #e6bfbf;
	--bs-table-active-color: #000;
	--bs-table-hover-bg: #ecc4c4;
	--bs-table-hover-color: #000;
	color: #000;
	border-color: #e6bfbf;
}

.table-light {
	--bs-table-bg: #f6f6f6;
	--bs-table-striped-bg: #eaeaea;
	--bs-table-striped-color: #000;
	--bs-table-active-bg: #dddddd;
	--bs-table-active-color: #000;
	--bs-table-hover-bg: #e4e4e4;
	--bs-table-hover-color: #000;
	color: #000;
	border-color: #dddddd;
}

.table-dark {
	--bs-table-bg: #151515;
	--bs-table-striped-bg: #212121;
	--bs-table-striped-color: #fff;
	--bs-table-active-bg: #2c2c2c;
	--bs-table-active-color: #fff;
	--bs-table-hover-bg: #272727;
	--bs-table-hover-color: #fff;
	color: #fff;
	border-color: #2c2c2c;
}

.table-responsive {
	overflow-x: auto;
	-webkit-overflow-scrolling: touch;
}

@media (max-width: 479.98px) {
	.table-responsive-xs {
		overflow-x: auto;
		-webkit-overflow-scrolling: touch;
	}
}

@media (max-width: 575.98px) {
	.table-responsive-sm {
		overflow-x: auto;
		-webkit-overflow-scrolling: touch;
	}
}

@media (max-width: 767.98px) {
	.table-responsive-md {
		overflow-x: auto;
		-webkit-overflow-scrolling: touch;
	}
}

@media (max-width: 991.98px) {
	.table-responsive-lg {
		overflow-x: auto;
		-webkit-overflow-scrolling: touch;
	}
}

@media (max-width: 1199.98px) {
	.table-responsive-xl {
		overflow-x: auto;
		-webkit-overflow-scrolling: touch;
	}
}

@media (max-width: 1599.98px) {
	.table-responsive-xxl {
		overflow-x: auto;
		-webkit-overflow-scrolling: touch;
	}
}

.table thead th {
	min-width: 110px;
	padding: 1.3125rem 1.75rem 0.9375rem;
	font-family: "Montserrat", sans-serif;
	font-size: 1rem;
	font-weight: 400;
	background-color: #f6f6f6;
	border-color: #f6f6f6;
}

.table thead tr {
	border-color: #f6f6f6;
}

.table tfoot tr {
	font-weight: 700;
	border-bottom: 1px solid #e5e5e5;
}

.table td {
	padding: 1.25rem 2rem;
}

.table > :not(:last-child) > :last-child > * {
	border-bottom-color: inherit;
}

h4 + .table-container {
	margin-top: 1.875rem;
}

.table-md td {
	padding: 1.5rem 1.875rem;
}

.table-layout-1 {
	text-align: center;
}

.table-layout-1 th,
.table-layout-1 td {
	vertical-align: middle;
}

.table-layout-1 th:first-child,
.table-layout-1 td:first-child {
	text-align: left;
}

.table-border-1 tr:first-child td {
	border-top: 1px solid #e5e5e5;
}

.table-border-1 td:first-child {
	border-left: 1px solid #e5e5e5;
}

.table-border-1 td:last-child {
	border-right: 1px solid #e5e5e5;
}

.table-striped tfoot tr {
	border-top: 1px solid #f6f6f6;
}

.table-head-primary thead th {
	background-color: #ff7a00;
	color: #fff;
}

.table-align-middle td {
	vertical-align: middle;
}
